
.contactUsContainer
{
    /* border: solid; */
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contactUsContainer div
{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-self: center;
    /* border: solid; */
}

@media (max-width:325px)
{
    .contactUsContainer
    {
        flex-direction: column;
        align-items: center;
    }

    .contactUsContainer div
    {
        margin: 7% 0%;
    }
}